<link rel="stylesheet" href="/stylesheets/civilian.css">

<!-- Civ's ID, hide it -->
<span id="civid" style="display: none">{{civ.identifier}}</span>

<h1>{{civ.name}} ({{civ.birth}})</h1>
<hr>
<p>
    You are now viewing a civilian's page. Remember to only perform actions here which you have a reason to.
</p>

<!-- Wanted ? -->
<div class="container green">
    <h3>NO ACTIVE WARRANTS</h3>
</div>

<div class="container red" id="warrants">
    <h3>!! HAS WARRANTS FOR ARREST !!</h3>
    <p>This person is wanted for: <i>attempted murder, GTA</i>. Bring them in.</p>
</div>

<!-- Criminal record -->
<div class="container">
    <h3>Criminal Record</h3>
    <div class="list" id="record">
        <!--<input type="text" name="crime" id="crime">-->
        {{#each civ.record}}
            <li oid="{{this.id}}">
                <span class="left">{{this.crime}} ({{this.dateofcrime}})</span>
                <a href="javascript:void(0)" class="right button">Remove</a>
            </li>
        {{else}}
            <p>They have a clean sheet</p>
        {{/each}}
    </div>
</div>

<!-- Licenses -->
<div class="container">
    <h3>Licenses</h3>
    <div class="list" id="licenses">
        {{#each civ.licenses}}
            <li oid="{{this.raw.id}}">
                <span class="left">{{this.friendly.label}}</span>
                <a href="javascript:void(0)" class="right button">Revoke</a>
            </li>
        {{else}}
            <p>No licenses found</p>
        {{/each}}
    </div>
</div>